body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;

}

.flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    flex-wrap: wrap;
}

.rowContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}


.location {
    display:flex;
    justify-content: center;
    margin: 10px;
}


.results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 540px;
}

h1 {
    margin-bottom: 0;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #055A5B;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #055A5B;
}

.header{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 25px;
    color: #055A5B;
}

.footer {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.mobileFooter {
    display: none;
}

a {
    color: #055A5B;
}
.btn-default:hover {
    background-color: #B9E4D0;
}

area:focus{
    border: none;
    outline-style: none;
    -moz-outline-style:none;
}


@keyframes fadeInDown {
    from{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown{
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .rowContainer{
        flex-direction: column;
    }
}